<h1>My Coursera Capstone Project</h1>

In [2]:
import pandas as pd

In [ ]:
conda install -c anaconda lxml

<h2>Question 1 (10 marks)</h2>

In [63]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df = pd.read_html(url)[0]

In [64]:
df = df[df['Borough'] != 'Not assigned']
df.rename(columns={'Postcode':'Postal Code', 'Neighbourhood': 'Neighborhood'},inplace=True)

In [65]:
df.head(10)

   Postal Code           Borough      Neighborhood
2          M3A        North York         Parkwoods
3          M4A        North York  Victoria Village
4          M5A  Downtown Toronto      Harbourfront
5          M6A        North York  Lawrence Heights
6          M6A        North York    Lawrence Manor
7          M7A      Queen's Park      Not assigned
9          M9A      Queen's Park      Queen's Park
10         M1B       Scarborough             Rouge
11         M1B       Scarborough           Malvern
13         M3B        North York   Don Mills North

In [66]:
aggregation_functions = {'Postal Code': 'first', 'Borough': 'first', 'Neighborhood': ', '.join}
df = df.groupby(df['Postal Code']).aggregate(aggregation_functions)

In [67]:
df.loc[df['Neighborhood']=='Not assigned', 'Neighborhood'] = df['Borough']

In [68]:
df = df.reset_index(drop=True)
df.head(10)

  Postal Code      Borough                                     Neighborhood
0         M1B  Scarborough                                   Rouge, Malvern
1         M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2         M1E  Scarborough                Guildwood, Morningside, West Hill
3         M1G  Scarborough                                           Woburn
4         M1H  Scarborough                                        Cedarbrae
5         M1J  Scarborough                              Scarborough Village
6         M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7         M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8         M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9         M1N  Scarborough                      Birch Cliff, Cliffside West

In [69]:
df.shape

(103, 3)

<h2>Question 2 (2 marks)</h2>

In [43]:
!wget -q -O 'geocoordinate.csv' http://cocl.us/Geospatial_data

In [70]:
df1=pd.read_csv('geocoordinate.csv')
df1.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [71]:
df_merge_col = pd.merge(df, df1, on='Postal Code')
df_merge_col

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, Martin Grove Gardens, Richv...",43.688905,-79.554724
101,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, ...",43.739416,-79.588437
102,M9W,Etobicoke,Northwest,43.706748,-79.594054

<h2>Question 3 (3 marks)</h2>

In [78]:
import folium

In [ ]:
conda install -c anaconda Nominatim

Solving environment: |

In [76]:
map=folium.Map(location=[latitude,longitude],zoom_start=10)
for lat,long,borough,neighbourhood in zip(df['Latitude'],df['Longitude'],df['Borough'],df['Neighborhood']):
    label='{} {}'.format(neighbourhood,borough)
    label=folium.Popup(label,parse_html=True)
    folium.CircleMarker([lat,long],radius=5,popup=label,color='blue',fill=True,fill_colors='#3186cc',fill_opacity=0.7,parse_html=True).add_to(map)
map

NameError: name 'latitude' is not defined